@font-face {
  src: url(../fonts/CupOfSea.ttf);
  font-family: cupOfSea; }
body {
  background-color: white; }

.main-frame {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 20px solid #f7f7f7;
  background-color: white;
  z-index: -1; }

@media (min-width: 800px) {
  .main-frame {
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px; } }
.main-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; }

.sideBar {
  width: 250px;
  max-width: 250px;
  height: 100%; }

.portfolio-body {
  flex-grow: 1;
  height: 100%; }

.banner-body {
  height: 100vh;
  width: 100%; }

.banner-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  height: 600px;
  margin: auto; }

.banner-img {
  position: absolute;
  background-image: url("../images/bannerImg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 40px;
  right: 20px;
  height: 600px;
  width: 450px;
  z-index: 1; }

.first-name {
  position: absolute;
  background-image: url("../images/bipin.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: -20px;
  right: 510px;
  height: 150px;
  width: 300px;
  z-index: 2; }

.last-name {
  position: absolute;
  background-image: url("../images/shrestha.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 135px;
  right: 340px;
  height: 200px;
  width: 400px;
  z-index: 2; }

.intro-content {
  position: absolute;
  right: 420px;
  z-index: 2;
  bottom: 5px; }

.intro-message {
  height: 200px;
  width: 400px;
  line-height: 38px; }
  .intro-message span {
    background: #EDEDED;
    display: inline;
    font-size: 16px;
    font-color: black;
    font-family: Sans-Serif, ariel; }

.personal-tags {
  position: absolute;
  z-index: 2;
  bottom: 45%;
  left: 30%; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s; }
  .sidenav span {
    color: orange;
    font-size: 30px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  color: white;
  opacity: 0;
  font-size: 36px;
  margin-left: 50px;
  transition: 1s ease-in-out; }

.navb1, .navb2, .navb3, .navb4 {
  font-family: cupOfSea;
  position: relative;
  background-color: #111;
  padding-left: 20px;
  opacity: 0; }

.navb1 {
  height: 25%;
  transition: 0.7s ease-in-out; }

.navb2 {
  height: 25%;
  width: 100px;
  transition: 1.2s ease-in-out; }

.navb3 {
  height: 25%;
  width: 100px;
  transition: 1.6s ease-in-out; }

.navb4 {
  height: 25%;
  transition: 0.7s ease-in-out; }

.menu {
  position: absolute; }

.sideBar-top-adjust {
  height: 50px;
  background-color: black; }

.nav-items {
  height: calc( 100% - 50px); }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
