@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.banner-body {
	width:75%;
}
.banner-content {
	position: relative;
	top:35%;
	transform: translateY(-35%);
	width:100%;
	height: 600px;
	margin:auto;
}
.banner-img  {
	background-image: url('../images/bannerImg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	top:40px;
	right:20px;
	height:600px;
	min-width:280px;
	z-index:1;
}
.first-name	{
	background-image: url('../images/bipin.png');
	background-size: contain;
	background-repeat: no-repeat;
	height:150px;
	width:300px;
	z-index:2;
}
.last-name	{
	background-image: url('../images/shrestha.png');
	background-size: contain;
	background-repeat: no-repeat;
	height:200px;
	width:400px;
	z-index:2;
}
.portfolio-body {
       max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.name {
	position:relative;
	margin-left: 100px;
}
.skill-style {
	position: relative;
	margin:0 auto;
	font-size: 1.2em;
	color:gray;
	overflow: hidden;
	border-right: 2px solid gray;
	width:0px;
	text-align: center;
    white-space: nowrap;
    font-family: 'Anonymous Pro', monospace;  
}
.intro-content {
	margin-top:20px;
	display: flex;
	flex-wrap: wrap;

span {
	line-height: 1.2;
	height:22px;
	margin:4px 0px;
	background: #EDEDED;
	display: inline;
	font-size: 17px;
	color: dimgrey;
	font-family: 'Quicksand', sans-serif;
}
}
.special-links {
	height:0px;
	display:inline;
	text-decoration: none;
	box-shadow: 0px -3px 0px 0px $nav-color inset;
	transition: box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
	&:hover{
		cursor: pointer;
		box-shadow: 0px -18px 0px 0px $nav-color inset;
		
	}
}

.typewriter-skill {
	animation: typewriter 2s steps(19) 1s normal both,
				blinktextcursor 500ms steps(19) infinite normal;
			}
	@keyframes typewriter{
		from{width:0;}
		to{width:200px;}
	}

	@keyframes blinktextcursor {
		from{border-right-color: gray;}
		to {border-right-color: transparent;}
	}