@import 'variables';
.banner-body {
	height:100vh;
	width:100%;
}
.banner-content {
	position: relative;
	top:50%;
	transform: translateY(-50%);
	width:70%;
	height: 600px;
	margin:auto;
}
.banner-img  {
	position: absolute;
	background-image: url('../images/bannerImg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	top:40px;
	right:20px;
	height:600px;
	width:450px;
	z-index:1;
}
.first-name	{
	position: absolute;
	background-image: url('../images/bipin.png');
	background-size: contain;
	background-repeat: no-repeat;
	top:-20px;
	right:510px;
	height:150px;
	width:300px;
	z-index:2;
}
.last-name	{
	position: absolute;
	background-image: url('../images/shrestha.png');
	background-size: contain;
	background-repeat: no-repeat;
	top:135px;
	right:340px;
	height:200px;
	width:400px;
	z-index:2;
}
.intro-content {
	position: absolute;
	right:420px;
	z-index:2;
	bottom:5px;
}
.intro-message {
	height:200px;
	width:400px;
	line-height:38px;
	span {
	background: #EDEDED;
	display: inline;
	font-size: 16px;
	font-color: black;
	font-family: Sans-Serif, ariel;
	}
}
.personal-tags {
	position: absolute;
	z-index:2;
	bottom: 45%;
	left:30%;
}